<div class="col-lg-6 artist_lists" data-id="{{ARTIST id}}" data_views="{{VIEWS}}" data_v_id="{{ID}}">
	<div class="content ds_hall_art">
		<div class="cover_art">
			<a href="{{LINK }}{{ARTIST username}}" data-load="{{ARTIST username}}">
				<img src="{{ARTIST avatar}}">
			</a>
		</div>
		<div class="track_info">
			<a href="{{LINK }}{{ARTIST username}}" data-load="{{ARTIST username}}">{{ARTIST name}}</a>
			<p>@{{ARTIST username}}</p>
		</div>
		<span class="artist"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#1eee6c" d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"></path></svg> {{VIEWS_FORMAT}} {{LANG plays}}</span>
	</div>
</div>