<?php if ( $music->announcement !== '' ) {?>
		<div class="announcement-renderer">
			{{ANNOUNCEMENT}}
		</div>
		<br>
<?php } ?>

<div class="ma_page_content">
	<div class="ma_pc_inner">
		<center><?php echo GetAd('header');?></center>
		<div class="page_padding ma_discover_page">
			<div class="row">
				<div class="col-md-7">
					<!-- Top Slider -->
					<div class="owl-carousel home_top_slider owl-theme">
						{{TOP_SLIDER_CONTENT}}
					</div>
					<!-- End Top Slider -->
					<div class="row">
						<div class="col-sm-4">
							<div class="mus_disc_mini_blks">
								<a href="{{LINK top_music}}" data-load="top_music">
									<img src="{{CONFIG theme_url}}/img/top-music.jpg" alt="{{LANG Top Music}}">
									<p>{{LANG Top Music}}</p>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mus_disc_mini_blks">
								<a href="{{LINK new_music}}" data-load="new_music">
									<img src="{{CONFIG theme_url}}/img/new-music.jpg" alt="{{LANG New Music}}">
									<p>{{LANG New Music}}</p>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mus_disc_mini_blks">
								<a href="{{LINK genres}}" data-load="genres">
									<img src="{{CONFIG theme_url}}/img/genres.jpg" alt="{{LANG Genres}}">
									<p>{{LANG Genres}}</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="short_list_cont top_dic_son_listz col-md-5">
					<div class="short_list_card">
						<h2 class="home_big_title">{{LANG Most Popular This Week}}</h2>
						<ul class="s_list_songs home_tp_songs_list">
							{{MOST_THIS_WEEK}}
						</ul>
					</div>
				</div>
			</div>

			<!-- Recently Played (Only Visible if User Plays any Music) -->
				<div class="sq_music_tracks mb-60">
					<h2 class="home_widget_title home_big_title">
						{{LANG Recently Played}}
						<div class="slide_btns">
							<?php if (IS_LOGGED) { ?>
							<a href="{{LINK recently_played}}" data-load="recently_played">{{LANG Show All}}</a>
							<?php } ?>
							<div class="recent_music_btn"></div>
						</div>
					</h2>
					<div class="owl-carousel sq_track_slider owl-theme rp_slider">{{RECENT_PLAYS}}</div>
				</div>
			<!-- End Recently Played -->

			<div class="row">
				<div class="col-md-6">
					<!-- New Releases -->
					<div class="sq_music_tracks mb-60">
						<h2 class="home_big_title">{{LANG New Releases}}</h2>
						<div class="mus_disc_new_trk">
							{{NEW_RELEASES}}
						</div>
					</div>
					<!-- End New Releases -->
				</div>
				
				<div class="col-md-6">
					<div class="short_list_cont short_list_cont_bigp top_dic_son_listz">
						<!-- Recommended  -->
						<div class="short_list_card">
							<h2 class="home_big_title">{{LANG Recommended}}</h2>
							<ul class="s_list_songs">
								{{MOST_RECOMMENDED}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(function () {
	$(".home_top_slider").owlCarousel({
		items:1
	});
	$(".rp_slider").owlCarousel({
		margin:20,
		nav: true,
		dots: false,
		navContainer: '.recent_music_btn',
		slideBy: 2,
		items:7,
		responsive:{
			0:{
				items:1
			},
			260:{
				items:2
			},
			380:{
				items:3
			},
			768:{
				items:5
			},
			992:{
				items:6
			},
			1300:{
				items:7
			}
		}
	});
})
</script>