<div class="modal fade mat_box" id="logged-out-modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i> {{LANG Session Expired}}</h4>
            </div>
            <div class="modal-body">
                <p>{{LANG Your Session has been expired, please login again.}}</p>
            </div>
            <div class="modal-footer">
                <a href="{{LINK discover}}" class="btn btn-default">{{LANG Login}}</a>
            </div>
        </div>
    </div>
</div>