* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #edf2fc;
    --services-color: #ab0032;
    --services-text-color: #262934;
    --services-background: #d8dce6;
    --navbarhover-color: #e00f41;
    --navbar-color: #ab0032;
    --gradient-a: linear-gradient(90deg, #e00f41 0%, #e94250 95%);
}

.dark-theme {
    --primary-color: #262934;
    --secondary-color: #edf2fc;
    --services-color: #ab0032;
    --services-text-color: #edf2fc;
    --services-background: #1c1e25;
    --navbarhover-color: #e00f41;
    --navbar-color: #ab0032;
}

#theme-switch-icon {
    width: 35px;
    cursor: pointer;
}

body {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 61px;
    background: var(--navbar-color);
    text-align: right;
    font-size: 50px;
    padding: 0px 15px;
}

nav p {
    font-family: Arial;
    color: var(--secondary-color);
    font-size: 30px;
    line-height: 55px;
    float: left;
    padding: 0px 10px;
}

nav ul {
    float: left;
    flex: 1;
    text-align: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial;
    color: var(--secondary-color);
    font-size: 18px;
    padding: 20px 14px;
    text-decoration: none;
}

nav ul li a:hover {
    display: block;
    background-color: var(--navbarhover-color);
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: var(--navbar-color);
    padding: 10px;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}

nav ul li:hover ul {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: var(--navbarhover-color);
}

span {
    background: linear-gradient(90deg, rgba(179,98,106,1) 0%, rgba(232,150,24,1) 95%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

gr1 {
    background: var(--gradient-a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.15s;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.container h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-size: 50px;
    color: var(--services-text-color);
    position: relative;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--services-text-color);
    cursor: pointer;
    background: var(--services-background);
    transition: transform 0.15s, background 0.15s;
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--services-color);
    transition: color 0.15s;
}

.service h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

.service:hover {
    background: var(--services-color);
    color: #fff;
    transform: scale(1.05);
    --gradient-a: linear-gradient(90deg, #7bdbd3 0%, #50bad4 95%);
}

.service:hover i {
    color: #fff;
}
