<div class="modal fade" id="delete-playlist-song" tabindex="-1" role="dialog" aria-labelledby="delete-playlist-song" aria-hidden="true" data-id="0" data-playlist-id="">
	<div class="modal-dialog mat_box" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{LANG Delete this song from playlist}}</h5>
			</div>
			<div class="modal-body">
				{{LANG Are you sure you want to delete this song?}}
			</div>	
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{LANG Cancel}}</button>
				<button type="button" class="btn btn-danger btn-mat" onclick="deletePlaylistSong();">{{LANG Delete}}</button>
			</div>
		</div>
	</div>
</div>