<li data-id="{{t_id_song}}" class="playlist-list-song" id="album_song_{{t_id_song}}">
	<ul class="s_lsongs_child">
		<li class="first">
			<span class="numbers">{{t_key}}</span>
			<?php if (IS_LOGGED) { ?>
				<?php 
				if (!empty($music->getAlbum)) {
					$user_id = $music->getAlbum->user_id;
				}
				else{
					$user_id = $music->playlist->user_id;
				}
				if ($user_id == $music->user->id) { ?>
                    <span class="fav_song">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#a0a0a0" d="M13,6V11H18V7.75L22.25,12L18,16.25V13H13V18H16.25L12,22.25L7.75,18H11V13H6V16.25L1.75,12L6,7.75V11H11V6H7.75L12,1.75L16.25,6H13Z" /></svg>
                    </span>
				<?php }else{?>
                    <span class="fav_song"><?php echo getFavButton($music->songData->id, 'fav-icon');?></span>
                <?php }?>
			<?php }?>
		</li>
		<li class="second" onclick="playSong('{{t_audio_id}}')">
			<div class="art_details">
				<h4>{{t_title}}</h4>
			</div>
		</li>
		<li class="third">
			<span class="duration">{{t_duration}}</span>
			<span class="opts_song dropdown">
				<svg data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z"></path></svg>
				<div class="dropdown-menu dropdown-menu-right mat-dropdown">
					<ul class="list-unstyled mb-0">
						<?php if (IS_LOGGED) { ?>
							<?php if ($user_id == $music->user->id) { ?>
								<li><a href="javascript:void(0)" onclick="RemoveAlbumSong({{t_id_song}})">{{LANG Remove Song}}</a></li>
							<?php } ?>
						<?php } ?>
						<li><a href="javascript:void(0)" onClick="getPlayLists({{t_id}});">{{LANG Add to Playlist}}</a></li>
						<li><a onClick="getShareModal('{{t_id}}', $(this));">{{LANG Share}}</a></li>
					</ul>
				</div>
			</span>
		</li>
	</ul>
</li>