<div class="sidebar_widget">
    <div class="s_widget_head">
        <span style="background:#e38700"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z"></path></svg></span> {{LANG SPONSOR ADS}}
    </div>
    <a href="<?php global $site_url; echo $site_url . '/redirect/'.$data['ADDATA']->id;?>?type={{type}}" target="_blank" class="ds_side_adss">
		<div>
			<img src="<?php echo getMedia($data['ADDATA']->media);?>" alt="<?php echo $data['ADDATA']->headline;?>">
			<span><?php echo url_domain(urldecode($data['ADDATA']->url));?></span>
		</div>
		<h3><?php echo $data['ADDATA']->headline;?></h3>
		<p><?php echo $data['ADDATA']->description;?></p>
		<!--<span>{{LANG By}} <?php echo $data['USERDATA']->name;?> </span>-->
    </a>
</div>